<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tajwidpemula">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HukumTajwidActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SubMenuHukumTajwidActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MakhorijulHurufActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MenuHukumTajwidActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MenuMakhorijulHurufActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.OnboardingActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.KuisActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.TentangIlmuTajwidActivity"
            android:label="@string/ttg_tajwid"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.TipsBelajarIlmuTajwidActivity"
            android:label="@string/Tips_Tajwid"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tajwidpemula.activity.MainActivity" />
        </activity>
    </application>

</manifest>